/* #061E29
#1D546D
#5F9598
#F3F4F4 */
* {
    margin: 0;
    padding: 0;
}

.navbar1 {
    background-color: #061E29;
    height: 3.45rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navbar1 a {
    text-decoration: none;
    color: white;
}

.head {
    height: 11rem;
    background-color: #1D546D;
    text-align: center;
    padding-top: 30px;


}

.head h1 {
    color: rgb(13, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.head p {
    color: rgba(0, 11, 81, 0.814);
}

.content {
    background-color: ;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.content1 {
    color: #000;
    height: 300px;
    width: 300px;


    margin-bottom: 20px;



}

.content1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.content2 {
    color: #000;
    height: 300px;


}

.content2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.content3 {
    color: #000;
    height: 300px;
    width: 300px;

}

.content3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.content a {
    align-items: center;
    text-decoration: none;
    padding-left: 130px;
}

.buy {
    padding-top: 20px;
}

.foot {
    background-color: #F3F4F4;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}